{% extends 'base.html' %}

{% block content %}
<!-- Banner  -->
<section>
    <div class="container mt-4">
        <div class="row">
            <img width="1000px" src="{{url_for('static', filename='images/blog_banner.png')}}" alt="Blog Banner">
        </div>
    </div>
</section>
<!-- blogs  -->
<section>
    <div class="container-fluid">
        <div class="row">
            <!-- <h1 class='text-start'>All Blog Post</h1> -->
            <!-- Colunm 1 -->
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="container">
                    <div class="card my-4">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{url_for('static', filename='images/lecrae.jpeg')}}"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a class="btn btn-dark" href="#">Full Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card my-4">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{url_for('static', filename='images/lecrae.jpeg')}}"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a class="btn btn-dark" href="#">Full Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card my-4">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{url_for('static', filename='images/lecrae.jpeg')}}"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a class="btn btn-dark" href="#">Full Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Colunm 2  -->
            <div class="col-lg-5 col-md-12 col-sm-12">
                <h1 class="text-center my-4 fs-3">Featured In Digtal Mag</h1>
                <div class="d-lg-flex">
                    <img class="img-fluid" width="200px" src="{{url_for('static', filename='images/week.png')}}" alt="">
                    <div class="ftcontent">
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <p class="ms-4">- Get access to our 500k plus email mailing list</p>
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <a class="btn btn-dark ms-4" href="">Get Featured</a>
                    </div>
                </div>
                <h1 class="text-center my-4 fs-3">The Spot Spotify Playlist</h1>
                <div class="d-lg-flex">
                    <img class="img-fluid" width="200px" src="{{url_for('static', filename='images/spot1.png')}}"
                        alt="">
                    <div class="ftcontent">
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <p class="ms-4">- Get access to our 500k plus email mailing list</p>
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <a class="btn btn-dark ms-4" href="">Get Added Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}