{% extends 'base.html' %}

{% block content %}
<!-- Header Picture  -->
<section>
    <div class="container mt-4">
        <div class="row">
            <img width="1000px" src="{{url_for('static', filename='images/artistcom.png')}}" alt="Blog Banner">
        </div>
    </div>
</section>
<!-- Modal Section  -->
<section>
    <div class="container">
        <div class="row">
            <div class="modal" tabindex="-1" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger text-light">
                            <h5 class="modal-title">Ask The Community A Question?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/community/create" method="POST">
                                <div>
                                    <label class="form-label"></label>
                                    <textarea class="form-control" name="content" cols="30" rows="10"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input type="hidden" name='user_id' value="{{session.user_id}}">
                                    <input type="submit" value="Share Question" class="btn btn-dark">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" p-2 mt-4 rounded-3">
                <h5>Join the community</h5>
                <div class="container text-start">
                    <a class="btn btn-dark" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Start Convo</a>
                </div>
            </div>
        </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <h2 class="text-center">Let's Connect! Let's Talk Music Industry!</h2>
                {% for question in allQuestions%}
                <div class="container d-flex">
                    <div class="card mt-4 mb-4" style="width: 50rem; height:10rem;">
                        <div class="card-body">
                            <h6 class="text-danger">Posted By: {{question.user.first_name}}</h6>
                            <h4 class="card-title">{{question.content}}</h4>
                            {% for comment in question.comments %}
                            <h6 class="card-title">{{comment.user.first_name}}</h6>
                            <h6 class="subtitle">{{comment.content}}</h6>
                            {% endfor %}
                        </div>
                            <form action="/community/comment", method="POST">
                                <input type="text" name="content">
                                <input type="hidden" name='user_id' value="{{session.user_id}}">
                                <input type="hidden" name='question_id' value="{{question.id}}">
                                <input type="submit" value="Comment" class="btn btn-dark">
                            </form>
                    </div>
                </div>
                {% endfor%}
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <h1 class="text-center my-4 fs-3">Featured In Digtal Mag</h1>
                <div class="d-lg-flex">
                    <img class="img-fluid" width="200px" src="{{url_for('static', filename='images/colemag.png')}}"
                        alt="">
                    <div class="ftcontent">
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <p class="ms-4">- Get access to our 500k plus email mailing list</p>
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <a class="btn btn-dark ms-4" href="">Get Featured</a>
                    </div>
                </div>
                <h1 class="text-center my-4 fs-3">The Spot Spotify Playlist</h1>
                <div class="d-lg-flex">
                    <img class="img-fluid" width="200px" src="{{url_for('static', filename='images/spot2.png')}}"
                        alt="">
                    <div class="ftcontent">
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <p class="ms-4">- Get access to our 500k plus email mailing list</p>
                        <p class="ms-4">- Get featured on the cover of our Digital Mag</p>
                        <a class="btn btn-dark ms-4" href="">Get Added Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}