<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Spot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
</head>
<body>
    <!-- NavBar  -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand mb-0 h1">
            <img 
            class="d-inline-block align-top"
            src="{{url_for('static', filename='images/White_logo.png')}}" alt="" width="100px" height="100px">
                </a>

            <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navmenu"
            >
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><h5>Home</h5></a>
                    </li>
                    <li class="nav-item">
                        <a href="/allblogs" class="nav-link"> <h5>All Blogs</h5></a>
                    </li>
                    <li class="nav-item">
                        <a href="/community" class="nav-link"><h5>Artist Community</h5></a>
                    </li>
                    <li class="nav-item">
                        <a href="/access" class="nav-link"><h5>All Access</h5></a>
                    </li>
                    <li class="nav-item">
                        <a href="/thespot" class="nav-link"> <h5>Sign Up</h5></a>
                    </li>
                    <li class="nav-item">
                        <a href="/thespot" class="nav-link"> <h5>Login</h5></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Picture  -->
    <section>
        <div class="container mt-4">
            <div class="row">
                <img width="1000px" src="{{url_for('static', filename='images/artistcom.png')}}" alt="Blog Banner">
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="modal" tabindex="-1" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-light">
                            <h5 class="modal-title">Ask The Community A Question?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <div>
                                        <label class="form-label"></label>
                                        <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-dark" href="">Share Question</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a class="btn btn-dark" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Start Convo</a>
                </div>
            </div>
    </section>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>